.container {
  padding-top: 25px;
}

.content .header .ui.label {
  margin-left: 10px;
}

.ui.header.location-header {
  margin-top: 0;
}

.forecast-entries {
  height: 350px;
  overflow-y: scroll;
}
